package-db: /home/felipe/Dropbox/Felipe_Angel_Alessio/Trabajos/2013_Dynamics/HsDynamics/src/cabal-dev/packages-7.4.2.conf
local-repo: /home/felipe/Dropbox/Felipe_Angel_Alessio/Trabajos/2013_Dynamics/HsDynamics/src/cabal-dev/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /home/felipe/.cabal/packages
world-file: /home/felipe/.cabal/world
build-summary: /home/felipe/Dropbox/Felipe_Angel_Alessio/Trabajos/2013_Dynamics/HsDynamics/src/cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: /home/felipe/Dropbox/Felipe_Angel_Alessio/Trabajos/2013_Dynamics/HsDynamics/src/cabal-dev/
  libsubdir: $pkgid/$compiler
  libexecdir: $prefix/libexec
  docdir: $datadir/doc/$pkgid
install-dirs global
  prefix: /home/felipe/Dropbox/Felipe_Angel_Alessio/Trabajos/2013_Dynamics/HsDynamics/src/cabal-dev/
  libdir: $prefix/lib
  libsubdir: $pkgid/$compiler
  docdir: $datadir/doc/$pkgid